<section class="index">

    <div>
    <p>Total confirmed : <%=data.TotalConfirmed%> </p>
    <p>Total Death :     <%=data.TotalDeaths%> </p>
    <p>Total Recovered : <%=data.TotalRecovered%> </p>

    </div>
</section>